body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  background-color: #ffc51c;
  width: 100vw;
  height: 80vh;
}
.logo {
  width: 230px;
  height: 60px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding: 8px 65px;
}

.nav-container {
  display: flex;
  text-align: center;
  align-items: center;
}

.nav-item {
  display: flex;
}
.nav-item ul {
  display: flex;
  padding-left: 0;
}

.nav-item li {
  display: flex;
  list-style-type: none;
  padding: 5px 20px;
  font-size: 18px;
}

.nav-righty {
  padding-left: 0;
}

.nav-right li:last-child {
  border: 1px black solid;
  border-radius: 99em;
  color: white;
  background-color: black;
  padding: 10px;
}

.header-textArtea {
  display: flex;
  padding: 20px;
}
.header-textArtea img {
  width: 50%;
  height: 40%;
}

.header-textContent h1 {
  font-size: 84px;
  letter-spacing: -0.05em;
  line-height: 74px;
  font-weight: 400;
  padding: 0;
}

.header-textContent p {
  font-size: 20px;
}

.header-textContent button {
  background-color: transparent;
  padding: 10px;
  margin: 10px;
  border-radius: 99em;
  width: 128px;
  color: #000;
  font-size: 16px;
  line-height: 24px;
}
